<div class="jumbotron jumbotron-extend-show" >
  <div class="container-fluid jumbotron-container">
    <h1 style="color: #fff;font-size: 3.5em;">Qiitter</h1>
    <h3 style="color: #fff;font-size: 1.5em;margin-top:0;" ><i class="bell icon"></i>通知一覧ページ</h3>
  </div>
</div>
<h3 class="text-center">通知</h3>
<div style="margin-left:10px;">
  <%= link_to "通知削除", notification_path(@notifications), method: :delete ,class: "ui google plus button" %>
</div>

<% if @notifications.present? %>
    <div class="users-index" style="margin-left:10px;">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
