<div class="jumbotron jumbotron-extend" >
  <div class="container-fluid jumbotron-container">
    <div class="ui stackable grid">
      <div class="two wide column"><%= embedded_svg("header2.svg", class: "story-set") %></div>
      <div class="seven wide column" id="jumbotron-text">
        <h1 style="color: #fff;font-size: 6.5em;">Qiitter</h1>
        <h3 style="color: #fff;font-size: 1.8em;" >あなたの勉強の成果を可視化させよう</h3>
      </div>
      <div class="four wide column" id="information">
        <div class="ui card">
          <div class="content">
            <div class="header">サイト情報</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Activity</h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    投稿数：<%= @all_products %>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    ユーザ数: <%= @all_users %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two wide column"><%= embedded_svg("header4.svg", class: "story-set") %></div>
      <div class="one wide column"></div>
    </div>
  </div>
</div>
